.book {
   color: #292838;
   font-family: 'Baloo Tammudu 2', cursive,'Segoe UI', 'Roboto' ;
   margin-top: 20px;
}


.inputGroup {
   display:flex;
   justify-content: center;
}

.inputGroup input {
   width: 15em;
   height: 3em;
}



/* For mobile phones: */


@media only screen and (max-width: 768px) {
   .inputGroup {
      display:flex;
      flex-direction: column;
      justify-content: center;
   }

   .inputGroup input {
      width: 21em;
      height: 3em;
   }

}