.chath {
  display: flex;
  justify-content: center;
  color: #292838;
  font-style: italic;
}
.chath1 {
  display: flex;
  justify-content: center;
  color: #292838;
}
.chathtopic{
  display: flex;
  justify-content: left;
  color: #292838;
  
}
.chatbody {
  background-image: url("../images/sea.jpg");
  height: 950px;
  background-size: cover;
  background-repeat: no-repeat;
   
}
.topicClr{
  color: #292838;
}
  
 