 
.create {
    background-image: url("../images/boat.jpeg");
    height: 850px;
    background-size: cover;
    color: rgb(164, 168, 154);
  }
  .create label {
    display: flex;
    justify-content: center;
    font-size: 20pt;
  }
  .titlelbl {
    margin-top: 1em;
  }
  .createh1 {
    display: flex;
    justify-content: left; 
    margin-left: 5em;
  }
  .createBtn {
    color: rgb(164, 168, 154);
    background-color: transparent;
    margin-left: 18.5em;
    height: 60px;
    width: 120px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 1.5em;
    margin-top: 2em;
  }
  .createBtn:hover {
    background-color: black;
    color: rgb(164, 168, 154);
  }
  
  input[type="date"] {
    text-transform: uppercase;
    color: rgb(164, 168, 154);
  }
  .create input {
    width: 550px;
    height: 32px;
    margin-left: 4em;
    margin-right: 4em;
    background-color: transparent;
    color: white;
  }
    
.inputs {
  border: 5px solid grey;
  border-radius: 80px;
  width: 700px;
}
 
 

@media only screen and (max-width: 768px) {
  .create input {
    width: 300px;
    height: 32px;
    margin-left: 4em;
    margin-right: 4em;
    background-color: transparent;
    color: white;
  }
  .inputs {
    border: 5px solid grey;
    border-radius: 80px;
    width: 400px;
  } 
  .createBtn {
    color: rgb(164, 168, 154);
    background-color: transparent;
    margin-left: 8em;
    height: 60px;
    width: 120px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 1.5em;
    margin-top: 2em;
  }
}
