 
.create {
    display:flex;
    flex-direction: column;
    background-image: url("../images/boat.jpeg");
    height: 1080px;
    background-size: cover;
    font-family: 'Baloo Tammudu 2', cursive,'Segoe UI', 'Roboto' ;
    color: #faf5f1;
  }

.create-content{
  margin-top: 1em;
  margin-left: 4em;
}

.create label {
  display: flex;
  justify-content: center;
  font-size: 20pt;
}

.titlelbl {
  margin-top: 1em;
}

.createh1 {
  display: flex;
  justify-content: left; 
}

.createBtn {
  color: #faf5f1;
  background-color: transparent;
  height: 60px;
  width: 120px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #faf5f1;
  text-align: center;
  margin-bottom: 1.5em;
  margin-top: 2em;
  font-size: 24px;
  font-weight: 600;
  padding-top: 10px;

  
}
.createBtn:hover {
  background-color: black;
  color: #faf5f1;
}
  
input[type="date"] {
  text-transform: uppercase;
  color: #faf5f1;
}

.create input {
  width: 550px;
  height: 32px;
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 2em;
  background-color: transparent;
  color: #faf5f1;
}
    
.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #faf5f1;
  border-radius: 10px;
  width: 700px;
}
 
 

@media only screen and (max-width: 768px) {
  .create input {
    width: 180px;
    height: 30px;
    margin-left: 4em;
    margin-right: 4em;
    background-color: transparent;
    color: #faf5f1;
  }

  .inputs {
    border: 5px solid #faf5f1;
    border-radius: 10px;
    width: 280px;
  } 

  .createBtn {
    color: #faf5f1;
    background-color: transparent;
    margin-left: 6.5em;
    height: 40px;
    width: 70px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 0.1em;
    margin-top: 0.5em;
  }

  .createh1 {
    display: flex;
    justify-content: left; 
    margin-left: 1em;
  }
}
