.signup-background {
    background-image: url("https://images.unsplash.com/photo-1505118380757-91f5f5632de0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60");
    height: 85vh;
    background-size: cover;
    background-repeat: no-repeat; 
    color: rgb(164, 168, 154);
}

.signup-form {
    text-align: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.h2-signup {
    text-align: center;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px #003B3E;
}

.button-location {
    text-align: center;
    justify-content: center;
}

.signupBtn, .signupBtn:hover, .signupBtn:active, .signupBtn:visited {
    background-color: #8064A2;
    color: white;
    text-align: center;
    justify-content: center;
}

