.dashboard {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #292838;
    font-family: 'Baloo Tammudu 2', cursive,'Segoe UI', 'Roboto' ;
}

.welcome-dashboard {
    margin-top: 1.2em;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
.dashboard {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    }
  }